.desc{
    padding-bottom: 20px;

}
.home{
    background-color: white;
    padding: 10px;
    
}
#about{
    margin-top: 10px;
}
#sub{
    font-size: 10px;
    margin-left: 50px;
}
.headings{
    font-size: 45px;
    margin-left: 20px;

}